<div id="stock-lookup">
	<h3> Search for Stock</h3>
	<%= form_tag search_stocks_path, remote: true, method: :get, id: 'stock-lookup-form' do %>
		<div class="form row text-center ">
		<div class="">
		<%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true,
		class: 'form-control search-box input-lg' %>
		</div>

		<div class="medium-2">
			<%= button_tag(type: :submit, class: "button") do %>
			<i class="fa fa-search"></i>Look up a stock
			<% end %>
		</div>
		</div>

	<% end %>
	<%=  render 'common/spinner' %>
	<% if @stock %>

	<div id="stock-lookup-results" class="well results-block">

	<strong>Symbol:</strong> <%= @stock.ticker %>

	<strong>Name:</strong> <%= @stock.name %>


	</div>

	<% end %>

	<div id="stock-lookup-errors"></div>

</div>